{% extends "base/block_base.html.twig" %}

{% block title %}Deze website is geblokkeerd - {{ extensionName.message }}{% endblock %}

{% block content %}
  {{ parent() }}

  <h1 class="pageHeading">Deze website is geblokkeerd</h1>

  <p>Je bezoek aan deze website is geblokkeerd door de <em>Hetzblocker</em>-extensie.</p>
  <p>Er is géén informatie verstuurd naar de opgevraagde website.</p>

  <dl class="blockDetails">
    <dt>Geblokkeerd adres (URL):</dt>
    <dd id="blockUrl"></dd>
    <dt>Reden van deze blokkade:</dt>
    <dd id="blockReason"></dd>
  </dl>
{% endblock %}
