{% extends "base/block_base.html.twig" %}

{% block title %}Seite gesperrt - {{ extensionName.message }}{% endblock %}

{% block content %}
  <h1 class="pageHeading">Seite gesperrt</h1>

  <p>Ihr Besuch an diese Seite ist gesperrt worden von der <em>Hetzblocker</em>-Erweiterung.</p>
  <p>Es sind keine Informationen an den angefragten Webseite verschickt worden.</p>

  <dl class="blockDetails">
    <dt>Blockierte Web-Adresse (URL):</dt>
    <dd id="blockUrl"></dd>
    <dt>Sperrungsgrund:</dt>
    <dd id="blockReason"></dd>
  </dl>
{% endblock %}
