{% extends "base/block_base.html.twig" %}

{% block title %}This site is blocked - {{ extensionName.message }}{% endblock %}

{% block content %}
  <h1 class="pageHeading">This site is blocked</h1>

  <p>Your request was blocked by the <em>Hetzblocker</em> extension.</p>
  <p>No data was sent to the requested website.</p>

  <dl class="blockDetails">
    <dt>Blocked web address (URL):</dt>
    <dd id="blockUrl"></dd>
    <dt>Reason for this block:</dt>
    <dd id="blockReason"></dd>
  </dl>
{% endblock %}
