<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Installed successfully!</title>
    <link media="all" rel="stylesheet" href="../css/install-success.css" />
    {% include 'partials/favicons.html.twig' with {'state': 'success'} %}
  </head>
  <body>
    <div id="extensionPage">
      {% include 'partials/large_icon.html.twig' with {'state': 'success'} %}
      <h1 class="pageHeading">Congratulations!</h1>
      <p>The <em>Hetzblocker</em> extension was successfully installed.</p>
      <p>You are now actively blocking visits to inflammatory media outlets on this device. Well done!</p>
    </div>
  </body>
</html>
