{% extends "base/install-success_base.html.twig" %}

{% block title %}Installatie geslaagd! - {{ extensionName.message }}{% endblock %}

{% block content %}
  {{ parent() }}

  <h1 class="pageHeading">Gefeliciteerd!</h1>

  <p>De <em>Hetzblocker</em>-extensie is nu op dit apparaat geïnstalleerd.</p>
  <p>Je blokkeert nu actief bezoeken en aanvragen naar opruiende mediakanalen. Heel goed!</p>
{% endblock %}
