<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Erfolgreich installiert!</title>
    <link media="all" rel="stylesheet" href="../css/install-success.css" />
    {% include 'partials/favicons.html.twig' with {'state': 'success'} %}
  </head>
  <body>
    <div id="extensionPage">
      {% include 'partials/large_icon.html.twig' with {'state': 'success'} %}
      <h1 class="pageHeading">Gratuliere!</h1>
      <p>Der <em>Hetzblocker</em>-Erweiterung ist erfolgreich auf dieses Gerät installiert worden.</p>
      <p>Sie blockieren jetzt Links und Anfragen and Webseiten von Hetzmedia. Sehr gut!</p>
    </div>
  </body>
</html>
