{% extends "base/install-success_base.html.twig" %}

{% block title %}Erfolgreich installiert! - {{ extensionName.message }}{% endblock %}

{% block content %}
  <h1 class="pageHeading">Gratuliere!</h1>

  <p>Der <em>Hetzblocker</em>-Erweiterung ist erfolgreich auf dieses Gerät installiert worden.</p>
  <p>Sie blockieren jetzt Links und Anfragen and Webseiten von Hetzmedia. Sehr gut!</p>
{% endblock %}
