{% extends "base/install-success_base.html.twig" %}

{% block title %}Installed successfully! - {{ extensionName.message }}{% endblock %}

{% block content %}
  <h1 class="pageHeading">Congratulations!</h1>

  <p>The <em>Hetzblocker</em> extension was successfully installed.</p>
  <p>You are now actively blocking visits to inflammatory media outlets on this device. Well done!</p>
{% endblock %}
