<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Hetzblocker{% endblock %}</title>
  {% endblock %}
</head>
<body>

<main id="extensionPage">
  {% block content %}{% endblock %}
</main>

{% block footer %}{% endblock %}
</body>
</html>
