{% extends "base.html.twig" %}

{% block head %}
  {{ parent() }}
  <link media="all" rel="stylesheet" href="../css/block.css"/>
  {% include '../partials/favicons.html.twig' with {'state': 'blocked'} %}
{% endblock %}

{% block body %}
  <main id="extensionPage">
    {% include '../partials/large_icon.html.twig' with {'state': 'blocked'} %}
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  <script src="../js/extensionPage_block.js"></script>
{% endblock %}
